streamlit
langchain
langchain-openai
openai
python-dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pyttsx3
SpeechRecognition
pydub
soundfile
sounddevice
streamlit-lottie
dateparser
